{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog Django</title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand ">
                <a class="navbar-item" href="/">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Logo">
                </a>
                <div class="has-addons navbar-item">
                    <div class="control">
                        <input class="input " type="text" placeholder="Find a repository">
                    </div>
                    <div class="control">
                        <a class="button is-info">
                            Search
                        </a>
                    </div>
                </div>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end navbar-item">
                    <a class="navbar-link is-active" href="/">
                        Home
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="button is-success">
                        <span class="">Novo Post</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-info alter-blog">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Microblog
                </h1>
                <h2 class="subtitle">
                    With Django
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">

                    <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">Bulma</a>
                            </li>
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                            <li>
                                <a href="#">Components</a>
                            </li>
                            <li class="is-active">
                                <a href="#" aria-current="page">Breadcrumb</a>
                            </li>
                        </ul>
                    </nav>
                    {% block content %} {% endblock %}

                </div>
                <div class="column is-one-quarter">

                    <aside class="menu">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a>Dashboard</a>
                            </li>
                            <li>
                                <a>Customers</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Administration
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a>Team Settings</a>
                            </li>
                            <li>
                                <a class="is-active">Manage Your Team</a>
                                <ul>
                                    <li>
                                        <a>Members</a>
                                    </li>
                                    <li>
                                        <a>Plugins</a>
                                    </li>
                                    <li>
                                        <a>Add a member</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Invitations</a>
                            </li>
                            <li>
                                <a>Cloud Storage Environment Settings</a>
                            </li>
                            <li>
                                <a>Authentication</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Transactions
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a>Payments</a>
                            </li>
                            <li>
                                <a>Transfers</a>
                            </li>
                            <li>
                                <a>Balance</a>
                            </li>
                        </ul>
                    </aside>
                </div>

                <!-- Right side -->


            </div>
        </div>
    </section>
    <footer class="footer footer-css">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by
                <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>