{% extends 'blog/base.html' %} {% block content %}
<div class="card">
    <ul>
        {% if post.published_date %}
        <li class="date">
            <span class="tag">
                {{ post.published_date }}
            </span>
        </li>
        {% endif %}
        <li class="card-header-title">
            <h1>
                {{ post.title }}
            </h1>
        </li>
    </ul>
    <div class="card-content">
        <p class="content">{{ post.text|linebreaksbr }}</p>
    </div>
</div>
{% endblock %}